{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div class="mid" id="middle">

        <div id="first">
            <a class="slide" id="slide" href="{% url 'attendance' %}">
                <p>Facial <span> Recognition </span> Attendance System</p>
            </a>
            <div id="btn">
                {% if user.is_authenticated %}
                    <p style="margin-right: 20px; font-size: x-large;">{{user.username}}</p>
                    <form>
                        <p><button type="submit" formaction="{% url 'logout' %}">Logout</button></p>
                    </form>
                    {% if user.is_staff %}
                        <p><a style="margin-left:15px;" href="media/Attendance.csv" download="Attendance">Download Attendance</a></p>
                    {% endif %}
                {% else %}
                    <form>
                        <button type="submit" formaction="{% url 'login' %}">Login</button>
                        <button type="submit" id="signup" formaction="{% url 'signup' %}">Register</button>
                    </form>
                {% endif %}
            </div>
        </div>

        <div id="scanline">
            <img src="{% static 'animation/face.gif' %}">
        </div>
    </div>
    
{% endblock content %}