<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capture</title>
    <link rel="stylesheet" href="start.css">
</head>
<body>
    <nav><b><p>Facial <span> Recognition </span> Attendance System</p></b>
        <div>

        </div>
    </nav>
    <div id="main">
        
         <div class="frm">
            <button type="submit">Start</button>
            <button id="signup">End</button>
         </div>
         <div>
            <img src="face.gif">
        </div>
        <footer>
            <p>Facial Recognition Attendence System ©️ All rights reserved.</p>
        </footer>
         
    </div>
    
</body>
</html>